.grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;

	@include grid-gutters(0);

	//gutters
	&-gutters {
		@include grid-gutters(var(--grid-gutters));
	}

	//cells
	&-col {
		//default
		flex: 1;
		min-width: 0; //Firefox fix
		box-sizing: border-box;

		&-shrink {
			flex: 0 1 auto;
		}

		&-relative {
			position: relative;
		}
	}

	$totalColumns: $grid-columns;

	@for $i from 1 through $totalColumns {
		&-col-#{$i} {
			@extend .grid-col;
			flex: none;
			width: calc(100% / #{calc($totalColumns / $i)});
		}

		&-col-0 {
			display: none !important;
		}
	}

	// row
	&-row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;

		&::after {
			content: "";
			clear: both;
			display: table;
		}
	}
}
