.main {
  background-color: $color-neutral-gray-2;
  min-height: 100vh;
  display: flex;
  padding-top: 6rem;

  .main-wrapper {
    background-color: $color-app-background;
    max-width: $wrapper-app-width;
    max-width: 125rem;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    width: 100%;
  }

  .section {
    min-height: 100%;
    padding: 4rem;
  }
}