$transition-time-fast: 200ms;
$transition-time-base: 400ms;
$transition-time-slow: 600ms;

// ease $> https://easings.net/
$transition-ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$transition-ease-out-circ: cubic-bezier(0, 0.55, 0.45, 1);
$transition-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$transition-ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$transition-ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
