// headlines
$headline-font-weight: 300;
$headline-1-font-size: 7rem;
$headline-1-line-height: 8rem;
$headline-2-font-size: 5rem;
$headline-2-line-height: 6rem;
// paragraphs
$paragraph-font-weight: 400;
$paragraph-basic-font-size: 2rem;
$paragraph-basic-line-height: 3rem;
// link
$link-font-size: 2rem;
$link-line-height: 3rem;
$link-line-text-decoration: none;
// label
$label-font-size-lg: 1.5rem;
$label-line-height-lg: 2rem;
// base
$font-color-base: $color-neutral-gray;
$font-size-base: $paragraph-basic-font-size;
$line-height-base: $paragraph-basic-line-height;
$font-family-base: $type-primary-regular;
